{% extends "blog/base.html" %}

{% block title %}Контакты{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="card shadow-lg border-0">
        <div class="card-body">
            <h1 class="card-title">Контакты</h1>
            <p class="text-muted">Вы можете связаться со мной удобным для вас способом:</p>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <strong>Telegram:</strong> 
                    <a href="https://t.me/Tamerlan1706" target="_blank">@Tamerlan1706</a>
                </li>
                <li class="list-group-item">
                    <strong>WhatsApp:</strong> 
                    <a href="https://wa.me/77753155748" target="_blank">+7 775 315 5748</a>
                </li>
                <li class="list-group-item">
                    <strong>Email:</strong> 
                    <a href="mailto:sapybek.2008.tamerlan@gmail.com">sapybek.2008.tamerlan@gmail.com</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<h1>Контакты</h1>
<p>Свяжитесь с нами по электронной почте.</p>
{% endblock %}
