{% extends "blog/base.html" %}
{% block title %}Посты{% endblock %}
{% block content %}
<h1>Список постов</h1>
{% for post in posts %}
    <div class="card mb-3">
        <div class="card-body">
            <h3><a href="{% url 'post_detail' slug=post.slug %}">{{ post.title }}</a></h3>
            <p>{{ post.content|truncatewords:30 }}</p>
        </div>
    </div>
{% endfor %}

<div>
    {% if posts.has_previous %}
        <a href="?page={{ posts.previous_page_number }}">Назад</a>
    {% endif %}
    Страница {{ posts.number }} из {{ posts.paginator.num_pages }}
    {% if posts.has_next %}
        <a href="?page={{ posts.next_page_number }}">Вперёд</a>
    {% endif %}
</div>
{% endblock %}
